DB_HOST=localhost
DB_USER=root
DB_PASS=123456789
DB_NAME=mcqs-jcq

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=yanfrancochaupincsco@gmail.com
EMAIL_PASS=yixe avpb errk sonp
EMAIL_TO=yanfrancochaupincsco@gmail.com

GEMINI_API_KEY="AIzaSyCWiILF3YRR5QYq_yTr3HXQOLuVHuzy-pY"
SECRET_KEY=your-secret-key-here-change-in-production

# FastAPI Backend Configuration
DATABASE_URL=mysql+pymysql://root:123456789@localhost:3306/mcqs-jcq
OPENAI_API_KEY='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'
GROQ_API_KEY="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"
